# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist-ssr
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Ignore everything in tests/
tests/*

# Except testing exercise files
!tests/front/outputs/tehtava_5_log.html
!tests/front/outputs/tehtava_5_report.html
!tests/front/outputs/tehtava_5_output.xml
!tests/front/tehtava_5.robot
!tests/front/outputs/tehtava_6_log.html
!tests/front/outputs/tehtava_6_report.html
!tests/front/outputs/tehtava_6_output.xml
!tests/front/tehtava_6.robot